.vscode/
.DS_Store
*.log
node_modules/
vendor/
uploads/
cache/
upgrade/
ai1wm-backups/
backups/
themes/*
!themes/syntax-and-coffee/
!themes/syntax-and-coffee/**

#plugins/*
#!plugins/your-plugin-slug/
#!plugins/your-plugin-slug/**